<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    account : <input id="acc"></input>
    <button id="accb" type="submit" onclick="getbalance()">提交</button>

    <script type="text/javascript">
        function getbalance() {
            console.log("acc good!");
        }
    </script>
    
  </body>
</html>